* , *::before , *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar { display: none; }

:root{
  --whole-color:#EDEDED;
  --background-color:#ffffff;
  --text-color:#000000;
  --border-color:#C6C6C6;
}

body {
  background-color: var(--whole-color);
  color: var(--text-color);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto; 
  padding: 0;
  max-width: 375px; 
  min-height: 100vh;
}



header {
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 15px; 
  background-color: var(--background-color);
}

.logo {
  width: 127px;
  height: 33px;
}

.night-mode-icon{
  width: 24px;
  height: 24px;
  margin-left: 100px;
}
.profile-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.profile {
  background-color: var(--background-color);
  margin-bottom: 25px;
}

.profile-header {
  display: flex;
  width: 348px;
  height: 34px;
  padding-top: 11px;
  margin-bottom: 11px;
  padding-left: 10px;
  align-items: center; 
}

.poster-profile {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.profile-header p {
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  margin-left: 7px;
  width: 307px;
  height: 16px; 
}

.poster-location {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  margin-top: 3px;
  margin-bottom: 13px;
}

.profile-content img {
  width: 100%;
  height: auto;
}

.profile-footer {
  margin: 21px 19px 16px 10px;
}

.react-container {
  display: flex;
  width: 104px;
  height: 22px;
  gap: 20px;
  margin-left: 5px;
}

.likes-comments {
  padding-top: 11px;
  font-size: 13px;
  line-height: 100%;
}

.likes-comments p {
  font-weight: 700;
  margin: 0; 
  padding-bottom: 15px;
}

.likes-comments span {
  font-weight: normal;
}

